.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.lightblue {
  background-color: lightcoral;
}
.blue {
  color: blue;
  font-size: 20px;
}
.red {
  color: red;
  font-size: 20px;
font-weight: bold;
}

.purple {
  color:  	#990000;
  font-size: 20px;
font-weight: bold;
}


.green {
  color: green;
  font-size: 20px;
font-weight: bold;
}

.blue_heading {
  color: #000099;
  font-size: 30px;
  font-weight: bold;
}

.pred_result {
  color: #000099;
  font-size: 20px;
  font-weight: bold;
}

div[role="listbox"] ul {
    background-color: #BCE3FB;
}

div[role="text_area"] ul {
    background-color: #d1a394;
}

div[data-baseweb="select"] > div {
    background-color: #BCE3FB;
}

div[data-baseweb="input"] > div {
    background-color: #BCE3FB;
}

div[data-baseweb="textarea"] > div {
    background-color: 	#c4ccd4;
}

input[type='number'] {
    -moz-appearance:textfield;
}
